<% @messages.select{|data_item| data_item[:reply_to_message_id] == nil}.each do |message| %>
	<% user = @users.select{|data_item| data_item[:id] == message[:user_id]}.first %>

	<!-- ## Post (teaser) ## -->
	<div class="post">
		<h1><%= link_to message[:title], messages_show_path(message[:id]) %></h1>
		<span>posted by <%= user[:first_name] %> <%= user[:last_name] %></span>
	</div>
	
<% end %>

