<h1>Messages</h1>

<table>
	<tr>
		<td>Title</td>
		<td>User</td>
	</tr>
	
	<% @messages.each do |message| %>
		<% user = @users.select{|data_item| data_item[:id] == message[:user_id];}.first %>
		<tr>
			<td><%= link_to message[:body], "/messages/" + message[:id].to_s %></td>
			<td><%= user[:first_name]%> <%= user[:last_name] %></td>
		</tr>

	<% end %>

	<%= link_to "New Message", "/messages/new" %>
</table>