<h1>Messages</h1>

<table>
	<tr>
		<td>Title</td>
		<td>User</td>
	</tr>
	
	<% @messages.each do |message| %>

		<tr>
			<td><%= message.body %></td>
			<td><%= message.user_id %></td>
		</tr>

	<% end %>

	<%= link_to "New Message", "/messages/new" %>
</table>