<!-- ## Admin settings ## -->
<div class="admin">
	<h2>Administration</h2>

	<!-- TODO: Replace with a proper form -->
	<div>			
		<label>Site name</label>
		<input type="text">
	</div>

	<br />			

	<%= submit_tag "Save", :class => 'button' %>

</div>

