<!-- ## Admin settings ## -->
<div class="admin">
	<h2>Administration</h2>

	<!-- TODO: Replace with a proper form -->
	<div>			
		<label>Site name</label>
		<input type="text">
	</div>

	<br />

	<div>
		<label>Theme</label>
	<br />
	<br />
	
	<div class="table themes">

		<div class="row">

			<div class="cell">
				<input type="radio" name="theme" value="subtle">
			</div>

			<div class="cell">
				<div class="color gray"></div>
			</div>					

			<div class="cell">
				<div class="color white"></div>
			</div>

			<div class="cell">
				<div class="descrip">(subtle)</div>
			</div>

		</div>


		<div class="row">

			<div class="cell">
				<input type="radio" name="theme" value="hacker"> 
			</div>

			<div class="cell">
				<div class="color orange"></div>
			</div>					

			<div class="cell">
				<div class="color cream"></div>
			</div>

			<div class="cell">
				<div class="descrip">(hacker)</div>
			</div>

		</div>


		<div class="row">

			<div class="cell">
				<input type="radio" name="theme" value="social"> 
			</div>

			<div class="cell">
				<div class="color blue"></div>
			</div>					

			<div class="cell">
				<div class="color white"></div>
			</div>

			<div class="cell">
				<div class="descrip">(social)</div>
			</div>

		</div>

	</div>

		

	<%= submit_tag "Save", :class => 'button' %>

</div>

